body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-wrapper {
  display: block;
  width: 85%;
}

#inputs {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
}

#dropdown {
  margin-top: 1em;
}

#fragranceNumberValidationMessage {
  color: red;
}

#orderConfirmationMessage, #invalidOrderQuantityMessage {
  color: gray;
  margin-left: 10px;
  display: inline;
}

/* 
istg there's a way to do this
.dropdown-menu-list {
  margin-bottom: 100px;
} 
*/

#startOrderButton {
  margin-top: 1em;
}

Button {
  width: 45%;
}
